services:
    mot.failedlogins.listener:
        class: mot\failedlogins\event\listener
        arguments:
            - '@dbal.conn'
            - '@log'
            - '@request'
            - '@template'
            - '@user'
        tags:
            - { name: event.listener }
